<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<description>导入VEDS的applicationContext文件列表</description>
	<import resource="cache/applicationContext-ehcache.xml" />
 	<import resource="cache/applicationContext-redis.xml" />
 	<import resource="datasource/applicationContext-veds-db.xml" />
	<!-- 把本地job挪走了   集群job只在指定的tomcat下运行-->
 	<import resource="schedule/applicationContext-quartz-timer-cluster.xml" />
 	
 	<bean id="cacheManage" class="org.vetech.core.modules.cache.CacheManage"/>
 	<bean id="ehcacheManageEx" class="org.vetech.core.modules.cache.EhcacheManage"/>
 	<bean id="redisManage" class="org.vetech.core.modules.cache.RedisManage"/>
 	<bean id="redisBillLockHandler" class="org.vetech.core.modules.lock.RedisBillLockHandler"/>
 	<bean id="springPropertyResourceReader"  class="org.vetech.core.modules.service.SpringPropertyResourceReader" init-method="init"/>
 	<bean id="SpringContextUtil" class="org.vetech.core.modules.service.SpringContextUtil" scope="singleton"/>
 	
 	<bean id="autoRunService"  class="cn.vetech.vedsb.app.AutoRunService" init-method="autoload"/>
 	
</beans>